<div id="sidebar_wrap">

			<ul class="xoxo">


<li>
	{{ $currentPage := . }}
	{{ range .Site.Menus.main }}
		<li class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} current_page_item {{end}}"><a href="{{ .URL }}">{{ .Name }}</a></li>
	{{end}}	




			</li>


			</ul>


			<ul class="list_pages">
				<li id="pages-4" class="widget-container widget_pages"><ul>
			<!-- <li class="page_item page-item-331 current_page_item"><a href="index.html">info</a></li> -->
		</ul>
		</li>			</ul>

</div>
